In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('covid_toy.csv')

In [3]:
df.sample(6)

    age  gender  fever   cough       city has_covid
82   24    Male   98.0    Mild    Kolkata       Yes
60   24  Female  102.0  Strong  Bangalore       Yes
11   65  Female   98.0    Mild     Mumbai       Yes
83   17  Female  104.0    Mild    Kolkata        No
27   33  Female  102.0  Strong      Delhi        No
86   25    Male  104.0    Mild  Bangalore       Yes

In [4]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
df['fever'].describe()

count     90.000000
mean     100.844444
std        2.054926
min       98.000000
25%       99.000000
50%      101.000000
75%      102.750000
max      104.000000
Name: fever, dtype: float64

In [7]:
df['fever'].fillna(np.round(df['fever'].mean(),2), inplace = True)

In [8]:
df['fever'].isnull().sum()

0

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns = ['has_covid']),df['has_covid'],test_size = 0.2)

In [10]:
x_train

    age  gender   fever   cough       city
37   55    Male  100.00    Mild    Kolkata
1    27    Male  100.00    Mild      Delhi
67   65    Male   99.00    Mild  Bangalore
95   12  Female  104.00    Mild  Bangalore
39   50  Female  103.00    Mild    Kolkata
..  ...     ...     ...     ...        ...
94   79    Male  100.84  Strong    Kolkata
90   59  Female   99.00  Strong      Delhi
60   24  Female  102.00  Strong  Bangalore
23   80  Female   98.00    Mild      Delhi
35   82  Female  102.00  Strong  Bangalore

[80 rows x 5 columns]

# 1. Aam zindegi

In [11]:
# adding simple imputer to fever column
from sklearn.impute import SimpleImputer
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

# Also apply for the test data set
x_test_fever = si.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [12]:
# Ordinal encoding to cough
from sklearn.preprocessing import OrdinalEncoder
oe  = OrdinalEncoder(categories=[['Mild','Strong']])

x_train_cough = oe.fit_transform(x_train[['cough']])
x_test_cough = oe.fit_transform(x_test[['cough']])

In [13]:
from sklearn.preprocessing import OneHotEncoder
oh = OneHotEncoder(drop = 'first', sparse = False)
x_train_gender_city = oh.fit_transform(x_train[['gender','city']])

# also the test data
x_test_gender_city = oh.fit_transform(x_test[['gender','city']])

In [14]:
x_test_gender_city.shape

(20, 4)

In [20]:
# Extracting age 
x_train_age = x_train.drop(columns = ['gender','fever','cough','city']).values

# also the test data
x_test_age = x_test.drop(columns = ['gender','fever','cough','city']).values

# Mentos Zindagi

In [17]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['fever']),
                                     ('tnf2',OrdinalEncoder(categories = [['Mild','Strong']]),['cough']),
                                     ('tnf3',OneHotEncoder(sparse = False, drop = 'first'),['gender','city'])
                                    ], remainder= 'passthrough')

In [24]:
ct.fit_transform(x_train).shape

(80, 7)

In [21]:
x_train

    age  gender   fever   cough       city
37   55    Male  100.00    Mild    Kolkata
1    27    Male  100.00    Mild      Delhi
67   65    Male   99.00    Mild  Bangalore
95   12  Female  104.00    Mild  Bangalore
39   50  Female  103.00    Mild    Kolkata
..  ...     ...     ...     ...        ...
94   79    Male  100.84  Strong    Kolkata
90   59  Female   99.00  Strong      Delhi
60   24  Female  102.00  Strong  Bangalore
23   80  Female   98.00    Mild      Delhi
35   82  Female  102.00  Strong  Bangalore

[80 rows x 5 columns]